body {
	margin: 0;
	padding: 0;
	font-family: 'Open-sans', sans-serif;
	width: 100%;
	
}
.row:before,
.row:after {
	content:"";
	display: table;
	clear: both;
}
[class*="col-"] {
	float: left;
	min-height: 1px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

@media(max-width: 768px) {
		
	
	
}
section {
	height: auto;
}
.hero {
	
	width: 100%;
	height:100vh;
	position: relative;
	
}
.hero-up {
	background: url(images/hero_pr1.jpg) no-repeat;
	background-size: cover;
}
.hero-up .logo {
	background: url(images/logo_pr1.png) no-repeat;
	width: 150px;
	height: 70px;
	z-index: 1;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}
.hero .slogan {
	color: #fff;
	height: 30%;
	padding-top: 25%;

}
.hero .slogan .header-hero {
	font-size: 60px;
	font-weight: 100;
	margin-bottom: 10px;
}
.hero .slogan .subtitle {
	
	line-height: 1.5;
	font-size: 13px;
}
.phone {
	background: url(images/telefon_pr1.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 20%;
	right: 10%;
	height:100%;
	width: 40%;
}
.hero > .vertical {
	position: absolute;
	top: 450px;
	left: 50px;
	transform: rotate(270deg);
	text-transform: uppercase;
	color: #fff;
}

.text {
	font-size: 14px;
	color: #67676d;
	position: relative;
	
}
.text h2 {
	color: #000;
	font-size: 35px;
	font-weight: 100;
	margin-top: 50px;
	padding-left: 20px;
}
.text p {
	padding: 20px;
}
.text h3 {
	font-size: 16px;
	padding-left: 20px;
}
.text > .vertical {
	position: absolute;
	bottom: 200px;
	left: 50px;
	transform: rotate(270deg);
	text-transform: uppercase;
}
.details {
	padding-bottom: 50px;
}
.hero-middle {
	background: url(images/tlo_2_pr1.jpg) no-repeat;
	background-size: cover;
}
.reasons {
	background-color: lightgreen;
	color: #fff;
	padding-bottom: 50px;
}
.reasons h2 {
	color: #fff;
}
.reasons p {
}
.gallery {
	height: 600px;
	width: 83%;
	position: relative;
	padding-left: 40px;
	margin-bottom: 50px;
	
}
.gallery > div {
	color: #fff;	
	text-align: center;
}
.gallery .pink {
	background-color: pink;
	background-size: contain;
	height: 300px;
	
}
.gallery .foto {
	background-image: url(images/foto_1_pr1.jpg);
	background-size: cover;
	height: 300px;
}
.gallery .foto1 {
	background-image: url(images/foto_2_pr1.jpg);
	background-size: cover;
	height: 300px;
}
.signature {
	margin-top: 10%;
}
.gallery .purple {
	background-color: purple;
	height: 300px;
}
.gallery .violet {
	background-color: violet;
	height: 300px;
}
.boxes {
	background-color: #e5e6eb;
	position: relative;
}
.boxes > .vertical {
	position: absolute;
	bottom: 200px;
	left: 50px;
	transform: rotate(270deg);
	text-transform: uppercase;
}
.boxes .box {
	height: 320px;
	width: 500px;
	margin: 50px auto;
	padding: 30px;
}
.boxes .box:hover {
	background-color: #fff;
	box-shadow: -webkit-box-shadow: 10px 10px 93px 5px rgba(204,204,204,0.83);
	-moz-box-shadow: 10px 10px 93px 5px rgba(204,204,204,0.83);
	box-shadow: 10px 10px 93px 5px rgba(204,204,204,0.83);
}
.boxes .box:hover .info {
	background-color: violet;
}
.boxes .box .buy {
	width: auto;
	height: 50px;
	border-radius: 5px;
	background-color: lightgreen;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	padding: 5px 10px;
}
.boxes .box .info {
	width: auto;
	height: 30px;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: #ccc;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
}
.boxes h3 {
	font-size: 40px;
	font-weight: 100;
	margin: 20px auto;
}
.boxes p {
	color: #67676d;
}
.boxes .icons {
	font-size: 30px;
	color: #ccc;
	margin: 10px;
}
footer {
	background-color: #192431;
	width: 100%;
	height: 500px;
	color: #fff;
	font-size: 14px;
}
footer h6 {
	font-size: 18px;
	margin-bottom: 20px;
}
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer p {
	padding-right: 30px;
}
footer input[type="email"] {
	width: 70%;
	height: 60px;
	padding-left: 20px;
	float: left;
	border: none;
}
footer button {
	width: 62px;
	height: 62px;
	background: lightgreen;
	border: 1px solid lightgreen;
	margin: 0;
	color: #fff;
	font-size: 25px;
}

footer label {
	display: block;
	margin-top: 15px;
	font-size: 13px;
	opacity: 0.5;

}
footer form {
	margin-left: 50px;
}

@media(max-width: 768px) {

	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}

	.container {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.phone {
		display: none;

	}
	.hero-up .phone {
		display: none;
	}
	.hero .slogan {
		padding: 25% 10px;
	}
	.hero .slogan .header-hero {
		margin: 0 auto;
		font-size: 55px;
	}
	.hero .slogan .subtitle {
		font-size: 20px;
	}
	.hero .vertical {
		transform: rotate(360deg);
		position: absolute;
		top: 25px;
		left: 170px;
	}
	[class*="col-"] {
	float: none;
	padding: 5px;
	}
	.gallery {
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.gallery > .col-s-12 {
		margin-top: -40px;
	}
	.signature {
		padding-top: 50px;
	}
	.text > .vertical {
		display: none;
	}
	.details h3 {
		margin-top: 10px;
		margin-bottom: 0;
	}
	.details p {
		margin-top: 0;
	}
	.hero-middle slogan h2 {
		font-size: 50px;
		padding: 0;
		margin: auto 10px;
	}
	
	.reasons h2 {
		padding: auto 10px;
	}
	.boxes .vertical {
		display: none;
	}
	.boxes .box {
		width: 300px;
		height: 300px;
		margin: 10px auto;

	}
	footer {
		height: auto;
		padding-bottom: 50px;
	}
	footer .row:first-child {
		margin-left: 10px;
	}
	footer .row:last-child {
		text-align: center;
	}
	footer form {
		margin-left: 10px;
	}
}
